*.log
*.out
*.aux
vc.tex
/cv.tex
/cv.pdf.md
*.bak
js/
bak/
.DS_Store
*.bbl
*.bcf
*.blg
*.run.xml
!templates/vita.tex
*/output/*
output/
outdir/*
TODO.org
.Rproj.user
.Rhistory
.RData
history.txt

/.quarto/

**/*.quarto_ipynb
